* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

a {
text-decoration: none;
color: black;
}

.header {
/* border: 1px solid red; */
padding: 10px 100px;
background-color: lightgray;
}

.logo {
display: inline-block;
}
.navlinks {
display: inline-block;
/* border: 1px solid red; */
margin-left: 50px;
}

.logo img {
width: 120px;
height: 50px;
}

.navlinks li {
display: inline-block;
margin: 0 20px;
font-size: 22px;
}

.loginForm {

    width: 50%;
    height: 80vh; 
padding: 50px 0;
margin: 0 auto;
}

.fieldset {
padding: 20px 30px;
}
.fieldContainer {
margin-top: 20px;
}
.fieldContainer label {
display: block;
}
.fieldContainer input {
width: 100%;
outline: none;
padding: 16px;
margin-top: 10px;
border-radius: 5px;
border: none;
background-color: lightgray;
}
.fieldContainer button {
width: 100%;
padding: 8px;
font-weight: bold;
font-size: 20px;
border: none;
background-color: #add8e6;
border-radius: 8px;
cursor: pointer;
}
.fieldContainer button:hover {
padding: 10px;
background-color: #83cce4;
border-radius: 10px;

}

.fieldset legend {
text-align: center;
font-weight: bold;
font-size: 25px;
}

.parent {
background-image:  url(images/group-3.svg);
height: 130vh;
}

.fieldContainer2 p {
display: inline-block;
padding: 30px;
margin-left: 60px;
transition: none;
}
.fieldContainer2 p:hover {
text-decoration: underline;
}
.country {
padding:5px;
    margin-left: 20px;

}
.country:hover {
padding: 3px;
}
.gender {
    margin: -30px 0px 0px 0px;
    margin-left: 20px;
}
.hobbie p {
    padding: -50px;
    text-decoration: none;
    display: block;
}
